@import "../utilities/less-properties/variables.less";

.header {
	background-color: @background-color;
	width: 100%;
    height: 40px;
    margin: @margin-0;
    padding: @padding-0;
}

.logo {
    width: 40px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    left: 0;
}
/*
.search-option{
	float: right;
	color:white;
}

.input-form {
  min-width: 200px;
  height: 40px;
    position: absolute;
    right: 5px;
    top: 0px;
    background-color: gold;
}

.options{
	height: 20px;
}*/