@import "../utilities/less-properties/variables.less";

/*.footer {
    margin: @margin-0;
    padding: @padding-0;
}

.footer-para {
    margin:0px;
    padding: 0px;
    color: @color-white;
    text-align: center;
}

.hyper {
    text-decoration: none;
    color: white;
}*/

.base-footer{
	background-color: @background-color;
	flex: @flex-none;
    width: 100%;
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.follow-us {
	height: 50px;
}