.display-image {
  width: 45%;
  height: 100%;
  float: left;
  background-image: url("https://material.angular.io/assets/img/examples/shiba2.jpg");
}

h1,
h6 {
  color: white;
  margin: 10px 0;
  padding: 0px 10px;
  text-align: center;
}

.login-div {
  width: calc(100% - 47%);
  height: 80%;
  float: right;
  padding-left: 2%;
}

.form-div{

}

.form-class {
  height: 80%;
  width: auto;
}

.form-mat-class {
  width: 80%;
}

.form-button {
  float: right;
  bottom: 0;
  height: 20%;
  color: blue;
  //display: inline-block;
  width: 80%;
}